<% content_for :links do %>
  <%= raw([
    {title: @page.translate.title, url: admin_page_path(@page)},
  ].to_json) %>
<% end %>

<div class="py-2 top-16 z-20 bg-white border-b border-gray-200">
  <%= render "admin/pages/header" %>
</div>
<%= render "admin/sections/index" %>

