<div class="card">
  <% content_for :links do %>
    <%= raw([
      {title: t("user_nav.lists"), url: user_root_path},
      {title: t("new_record"), url: "javascript:void(0);"},
    ].to_json) %>
  <% end %>

  <div class="card-title items-center">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900"><%= t("user_nav.lists") %></h2>
  </div>
    <p><%= t('new_record') %></p>

  <div class="max-w-2xl">
    <%= render 'user/lists/form' %>
  </div>
</div>



