<section class="w-full py-2 xl:py-2 overflow-hidden" data-section="<%= section.to_partial %>">
  <div class="container w-full mx-auto flex flex-col-reverse flex-nowrap items-center justify-between xl:flex-row gap-8">
    <div class="w-full flex flex-col flex-nowrap items-start justify-stretch gap-6 xl:gap-8">
      <div class="flex">
        <h2 class="application-section-title" >
          <%= raw section.translate.title %>
        </h2>
        <%= render "admin/sections/btns", section: section %>
      </div>
      <div class="" >
        <%= raw section.translate.content %>
      </div>
    </div>
  </div>
</section>

