<div class="bg-white">
  <div class="section-wrapper">
    <div class="section-inner-wrapper">
      <h2 class="section-title"> <%= section.translate.title %> </h2>
      <p class="section-content"> <%= raw section.translate.content %> </p>
    </div>
  </div>
</div>
