<div class="page-wrapper">

  <div class="title-wrapper">
    <div>
      <h1 class="title"> <%= @legal_page.translate.title %> </h1>
    </div>
  </div>

</div>

<div class="bg-white">
  <div class="section-wrapper">
    <div class="section-inner-wrapper">
      <p class="section-content"> <%= raw @legal_page.translate.content %> </p>
    </div>
  </div>
</div>
