<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="text-sm">
    <%= link_to t("devise.sessions.forgot_password"), new_password_path(resource_name), class: "font-semibold text-primary-600 hover:text-secondary-600" %><br />
  </div>
<% end %>
